[submodule "virtualfish"]
	path = virtualfish
	url = https://github.com/adambrenecki/virtualfish.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "dotvim"]
	path = dotvim
	url = https://github.com/yachi/dotvim.git
[submodule "z-fish"]
	path = z-fish
	url = https://github.com/roryokane/z-fish.git
